In [15]:
import wrds
import pandas as pd
from sklearn.linear_model import LinearRegression  # Import LinearRegression

db = wrds.Connection(wrds_username='asherbaraban')

Loading library list...
Done

In [16]:
investor = {
    'VFINX': 31432,
    'VEXMX': 31433,
    'NAESX': 31460,
    'VEURX': 31337,
    'VPACX': 31336,
    'VBINX': 31227,
    'VEIEX': 31338,
    'VIMSX': 31473,
    'VISGX': 31471,
    'VISVX': 31468,
    'VIVAX': 31435
}

admiral = {
    'VBIAX': 31228,
    'VPADX': 31342,
    'VEUSX': 31346,
    'VIMAX': 31454,
    'VEMAX': 31349,
    'VVIAX': 31457,
    'VSMAX': 31458,
    'VEXAX': 31459,
    'VSGAX': 53228,
    'VFIAX': 31461,
    'VSIAX': 53229
}

crsp_fundnos = set(admiral.values()).union(investor.values())
# ADD QQQ
crsp_fundnos.add(24697)
# ADD REIT INDEX VGSLX
crsp_fundnos.add(31193)
# ADD VTMGX 
crsp_fundnos.add(31266)

placeholders = ', '.join(str(int(num)) for num in crsp_fundnos)

df = db.raw_sql(f"""
        SELECT 
            a.crsp_fundno,
            a.caldt,
            b.mret,
            fees.exp_ratio,
            names.fund_name,
            header.ticker
        FROM crsp_q_mutualfunds.monthly_nav a
        LEFT JOIN crsp_q_mutualfunds.monthly_returns b 
            ON a.crsp_fundno = b.crsp_fundno AND a.caldt = b.caldt
        LEFT JOIN crsp_q_mutualfunds.fund_names names
            ON a.crsp_fundno = names.crsp_fundno AND a.caldt BETWEEN names.chgdt AND names.chgenddt
        LEFT JOIN crsp_q_mutualfunds.fund_hdr header
            ON a.crsp_fundno = header.crsp_fundno
        LEFT JOIN crsp_q_mutualfunds.fund_fees fees
            ON a.crsp_fundno = fees.crsp_fundno AND a.caldt BETWEEN fees.begdt AND fees.enddt
        WHERE
            a.caldt >= '1976-08-01' AND a.caldt <= '2024-01-01'
            AND a.crsp_fundno IN ({placeholders})
    """)

expected_tickers = set(investor.keys()).union(admiral.keys())
expected_tickers.add('QQQ')
expected_tickers.add('VGSLX')
expected_tickers.add('VTMGX')
# Extract unique tickers from the DataFrame
unique_tickers = df['ticker'].unique()

# Assert that all expected tickers are present in the unique tickers from the DataFrame
missing_tickers = set(expected_tickers) - set(unique_tickers)
assert not missing_tickers, f"Missing tickers: {missing_tickers}"

extra_tickers = set(unique_tickers) - set(expected_tickers)
assert not extra_tickers, f"Extra tickers: {missing_tickers}"

print("All expected tickers are present in the DataFrame.")

df['crsp_fundno'] = df['crsp_fundno'].astype(int)
df['caldt'] = pd.to_datetime(df['caldt'])
df['month'] = df['caldt'].dt.month
df['year'] = df['caldt'].dt.year
df['ticker'] = df.groupby('crsp_fundno')['ticker'].ffill().bfill()
df['fund_name'] = df.groupby('crsp_fundno')['fund_name'].ffill().bfill()
df['exp_ratio'] = df.groupby('crsp_fundno')['exp_ratio'].ffill().bfill()
df['mret_gross'] = df['mret'] + df['exp_ratio'] / 12

TypeError: unhashable type: 'list'

In [4]:
# Create a composite key
df['composite_key'] = df['crsp_fundno'].astype(str) + '-' + df['year'].astype(str) + '-' + df['month'].astype(str)

# Check for duplicates
duplicate_rows = df[df.duplicated('composite_key', keep=False)]

# If duplicate_rows is empty, then crsp_fundno, year, and month uniquely identify each row
if duplicate_rows.empty:
    print("crsp_fundno, year, and month uniquely identify each row.")
else:
    print(f"Found {len(duplicate_rows)} duplicate rows based on crsp_fundno, year, and month:")
    print(duplicate_rows)

# Alternatively, you can use an assertion
assert duplicate_rows.empty, f"Found duplicate rows based on crsp_fundno, year, and month: {duplicate_rows}"

crsp_fundno, year, and month uniquely identify each row.

In [5]:
# Assuming df is already defined and contains the required data
# List of expected tickers
expected_tickers = ['VFINX', 'VEXMX', 'NAESX', 'VEURX', 'VPACX', 'VVIAX', 'VBINX', 'VEIEX', 'VIMSX', 'VISGX', 'VISVX', 'QQQ', 'VGSLX']

# Group by ticker and count missing `mret` values
missing_mret_counts = df.groupby('ticker')['mret'].apply(lambda x: x.isna().sum())

# Display the counts
print(missing_mret_counts)

ticker
NAESX    0
VDADX    1
VEIEX    1
VEMAX    1
VEURX    1
VEUSX    1
VEXAX    1
VEXMX    1
VFIAX    1
VFINX    1
VFSAX    1
VFTAX    1
VFWAX    1
VGRLX    1
VGTSX    1
VHYAX    1
VIAAX    1
VIDMX    2
VIGAX    1
VIGRX    1
VIHAX    1
VIMAX    1
VIMSX    1
VISGX    1
VISVX    1
VIVAX    1
VLACX    1
VLCAX    1
VMCIX    1
VMGIX    1
VMGMX    1
VMVAX    1
VMVIX    1
VSGAX    1
VSIAX    1
VSMAX    1
VTCLX    2
VTIAX    1
VTMGX    1
VTMSX    1
VTSAX    1
VTSMX    1
VTWAX    1
VVIAX    1
Name: mret, dtype: int64

In [8]:
# Define ticker mappings
investor_to_admiral = {
    'VFINX': 'VFIAX',
    'VEXMX': 'VEXAX',
    'NAESX': 'VSMAX',
    'VEURX': 'VEUSX',
    'VPACX': 'VPADX',
    'VBINX': 'VBIAX',
    'VEIEX': 'VEMAX',
    'VIMSX': 'VIMAX',
    'VISGX': 'VSGAX',
    'VISVX': 'VSIAX',
    'VIVAX': 'VVIAX'
}

investor_to_admiral = {
    "VFINX": "VFIAX",
    "VGTSX": "VTMGX",
    "VDAIX": "VDADX",
    "VEIEX": "VEMAX",
    "VEURX": "VEUSX",
    "VEXMX": "VEXAX",
    "VFWIX": "VFWAX",
    "VFSVX": "VFSAX",
    "VFTSX": "VFTAX",
    "VGXRX": "VGRLX",
    "VIGRX": "VIGAX",
    "VHDYX": "VHYAX",
    "VIDMX": "VIAAX",
    "VIHIX": "VIHAX",
    "VLACX": "VLCAX",
    "VMGIX": "VMGMX",
    "VIMSX": "VIMAX",
    "VMVIX": "VMVAX",
    "VPACX": "VPADX",
    "VISGX": "VSGAX",
    "NAESX": "VSMAX",
    "VISVX": "VSIAX",
    "VTMSX": "VTMSX",
    "VTSMX": "VTSAX",
    "VTWSX": "VTWAX",
    "VIVAX": "VVIAX"
}
# Replace investor returns with admiral returns
for investor, admiral in investor_to_admiral.items():
    print(investor, admiral)
    # Create masks for investor and admiral shares
    investor_mask = df['ticker'] == investor
    admiral_mask = df['ticker'] == admiral

    # Align the returns based on the dates
    investor_returns = df[investor_mask].set_index('caldt')['mret_gross']
    admiral_returns = df[admiral_mask].set_index('caldt')['mret_gross']

    # Update the investor returns with admiral returns where available
    aligned_investor, aligned_admiral = investor_returns.align(admiral_returns, join='left')
    aligned_investor.update(aligned_admiral.dropna())

    # Update the original DataFrame
    df.loc[investor_mask, 'mret_gross'] = df.loc[investor_mask, 'caldt'].map(aligned_investor)

# Drop the admiral shares rows from the DataFrame
df = df[~df['ticker'].isin(investor_to_admiral.values())]

df

VFINX VFIAX
VGTSX VTMGX
VDAIX VDADX
VEIEX VEMAX
VEURX VEUSX
VEXMX VEXAX
VFWIX VFWAX
VFSVX VFSAX
VFTSX VFTAX
VGXRX VGRLX
VIGRX VIGAX
VHDYX VHYAX
VIDMX VIAAX
VIHIX VIHAX
VLACX VLCAX
VMGIX VMGMX
VIMSX VIMAX
VMVIX VMVAX
VPACX VPADX
VISGX VSGAX
NAESX VSMAX
VISVX VSIAX
VTMSX VTMSX
VTSMX VTSAX
VTWSX VTWAX
VIVAX VVIAX

,crsp_fundno,caldt,mret,exp_ratio,fund_name,ticker,month,year,mret_gross,composite_key
0,31200,1996-04-30,NaN,0.0000,Vanguard STAR Total International Portfolio,VGTSX,4,1996,NaN,31200-1996-4
1,31200,1996-05-31,-0.008780,0.0000,Vanguard STAR Total International Portfolio,VGTSX,5,1996,-0.008780,31200-1996-5
2,31200,1996-06-28,0.003937,0.0000,Vanguard STAR Total International Portfolio,VGTSX,6,1996,0.003937,31200-1996-6
3,31200,1996-07-31,-0.033333,0.0000,Vanguard STAR Total International Portfolio,VGTSX,7,1996,-0.033333,31200-1996-7
4,31200,1996-08-30,0.006085,0.0000,Vanguard STAR Total International Portfolio,VGTSX,8,1996,0.006085,31200-1996-8
...,...,...,...,...,...,...,...,...,...,...
9790,51084,2019-04-30,0.027618,0.0011,Vanguard STAR Funds: Vanguard Total Internatio...,VTIAX,4,2019,0.027710,51084-2019-4
9791,51084,2019-05-31,-0.055148,0.0011,Vanguard STAR Funds: Vanguard Total Internatio...,VTIAX,5,2019,-0.055057,51084-2019-5
9792,51084,2019-06-28,0.058240,0.0011,Vanguard STAR Funds: Vanguard Total Internatio...,VTIAX,6,2019,0.058331,51084-2019-6
9793,51084,2019-07-31,-0.019068,0.0011,Vanguard STAR Funds: Vanguard Total Internatio...,VTIAX,7,2019,-0.018976,51084-2019-7
9794,51084,2019-08-30,-0.023398,0.0011,Vanguard STAR Funds: Vanguard Total Internatio...,VTIAX,8,2019,-0.023306,51084-2019-8

In [9]:
df = df.dropna(subset=['mret_gross'])
df = df[~((df['ticker'] == 'NAESX') & (df['caldt'] < '1990-01-01'))]

df['ticker'].unique()

array(['VGTSX', 'VIDMX', 'VTCLX', 'VEURX', 'VEIEX', 'VFINX', 'VEXMX',
       'VTSMX', 'VIVAX', 'VIGRX', 'VMVIX', 'VMGIX', 'VLACX', 'NAESX',
       'VISVX', 'VISGX', 'VMCIX', 'VIMSX', 'VTIAX'], dtype=object)

In [10]:
df = df.sort_values(by=['ticker', 'caldt'])

# Get the inception date for each fund
inception_dates = df.groupby('ticker')['caldt'].min().reset_index()
inception_dates.columns = ['ticker', 'inception_date']
inception_dates = inception_dates.sort_values(by='inception_date')
sorted_funds = inception_dates['ticker'].tolist()
sorted_funds
inception_dates

   ticker inception_date
4   VFINX     1976-09-30
3   VEXMX     1988-01-29
0   NAESX     1990-01-31
2   VEURX     1990-07-31
18  VTSMX     1992-05-29
7   VIGRX     1992-12-31
11  VIVAX     1992-12-31
1   VEIEX     1994-06-30
16  VTCLX     1994-10-31
5   VGTSX     1996-05-31
8   VIMSX     1998-06-30
10  VISVX     1998-06-30
13  VMCIX     1998-06-30
9   VISGX     1998-06-30
6   VIDMX     2000-07-31
12  VLACX     2004-02-27
14  VMGIX     2006-09-29
15  VMVIX     2006-09-29
17  VTIAX     2011-01-31

In [11]:
orthogonal_basis = pd.DataFrame(index=df['caldt'].unique())

# Loop over each fund
for i, fund in enumerate(sorted_funds):
    fund_data = df[df['ticker'] == fund].set_index('caldt')['mret_gross']
    # Initialize the regression model
    if i > 0:
        valid_index = fund_data.dropna().index
        X = orthogonal_basis.loc[valid_index, orthogonal_basis.columns[:i]].values
        y = fund_data.dropna().values
        print(y.shape)
        # Fit the model
        reg = LinearRegression(fit_intercept=False)
        reg.fit(X, y)
        residuals = y - reg.predict(X)

        # Create a Series to align with the orthogonal_basis index
        residuals_series = pd.Series(data=residuals, index=valid_index)

        # Calculate the residuals
        orthogonal_basis[fund] = 0.0  # Initialize with zeros

        orthogonal_basis.loc[valid_index, fund] = residuals_series
    else:
        orthogonal_basis[fund] = fund_data.reindex(orthogonal_basis.index)

(432,)
(408,)
(402,)
(380,)
(373,)
(373,)
(355,)
(464,)
(332,)
(307,)
(307,)
(307,)
(307,)
(164,)
(239,)
(208,)
(208,)
(156,)

In [ ]:
path = 'mutual_fund_data/vanguard_orthogonal_basis.csv'
orthogonal_basis.to_csv(path, index=True)